{% extends 'base.html.twig' %}
{% block body %}
  <div class="home-page">
  <!--====== BANNER PART START ======-->
  {% include 'common/banner_part_start.html.twig' %}
  <!--====== BANNER PART ENDS ======-->
  <!--====== BLOG PART START ======-->
  {% include 'common/blog_part.html.twig' %}
  <!--====== BLOG PART ENDS ======-->
  <!--====== SERVICES PART START ======-->
  {% include 'common/services_part.html.twig' %}
  <!--====== SERVICES PART ENDS ======-->
  <!--====== CLEAN DESIGNS PART START ======-->
  {% include 'common/clean_design_part.html.twig' %}
  <!--====== CLEAN DESIGNS PART ENDS ======-->


  <!--====== WHY CHOOSE PART START ======-->
{#  {% include 'common/why_choose_part.html.twig' %}#}
  <!--====== WHY CHOOSE PART ENDS ======-->
  <!--====== SUB PART START ======-->
{#  {% include 'common/sub_part.html.twig' %}#}
  <!--====== SUB PART ENDS ======-->


  <!--====== TESTIMONIALS PART START ======-->
{#  {% include 'common/testimonials_part.html.twig' %}#}
  <!--====== TESTIMONIALS PART ENDS ======-->

  <!--====== PORTFOLIO PART START ======-->
{#  {% include 'common/portofolio_part.html.twig' %}#}
  <!--====== PORTFOLIO PART ENDS ======-->

  <!--====== TEAM PART START ======-->
  {% include 'common/team_part.html.twig' %}
  <!--====== TEAM PART ENDS ======-->

  <!--====== SUBSCRIBE PART START ======-->
  {% include 'common/subcribe_part.html.twig' %}
  <!--====== SUBSCRIBE PART ENDS ======-->
  </div>
{% endblock %}
