{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Accès internet professionnel</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('ask_of_quote') }}">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/idtechidf-mail-pro-exhange" alt="">
                            <span>Accès internet professionnel</span>
                            <h3 class="title">ACCÈS INTERNET PRO : CONNEXION TRÈS HAUT DÉBIT DÉDIÉE AUX ENTREPRISES</h3>
                            <p>
                            <h6>Boostez votre connexion internet d’entreprise avec un réseau fiable</h6>
                            3DTECH grâce à sa gamme de solution ARESNET vous propose un service d’accès à internet très
                            haut débit dédié aux entreprises de toute taille : Accès ADSL, VDSL, SDSL, Fibre Optique,
                            liaisons VPN.

                            </p>
                            <h5>Vos avantages grâce à votre accès internet professionnel chez 3DTECH :</h5>
                            <p>
                            <ul>
                                <li>→    Naviguer avec un débit plus performant.</li>
                                <li>→    Gérer vos téléchargements et envoie de fichiers.</li>
                                <li>→    Etablir une connexion inter-sites.</li>
                                <li>→    Intégrer une solution en téléphonie IP.</li>

                            </ul>

                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <h4>La virtualisation de vos serveurs informatiques par le cloud DaaS</h4>
                            <div class="services-details-play">
                                <img src="{{ asset('assets/images/3dtech-internet-pro.png') }}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}

    <!--====== BRAND PART ENDS ======-->

    <!--====== SUBSCRIBE PART START ======-->

    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
