{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Réseau Wifi entreprise</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/idtechidf-mail-pro-exhange" alt="">
                            <span>Réseau Wifi entreprise</span>
                            <h3 class="title">WIFI ENTREPRISE : ÉTUDE <br> ET INSTALLATION DE RÉSEAU SANS FIL SÉCURISÉ
                            </h3>
                            <p>
                            <h6>Assurez la mobilité de vos collaborateurs et visiteurs grâce à une connexion Wifi
                                performante dans vos locaux</h6>
                            Mettre en place un réseau sans fil sur votre lieu de travail est tout aussi important que le
                            choix de votre accès internet. Pour obtenir une connexion optimale, il est primordiale
                            d’effectuer un audit de couverture d’un réseau Wifi.
                            sont mises en avant afin de s’adapter à votre infrastructure à vos besoins et à vos budgets.
                            </p>
                            <p>
                                Pour y parvenir, l’expertise 3DTECH consiste à mesurer et implémenter une solution Wifi
                                fiable et sécurisée à l’aide de technologies pointues : Heatmap (cartographie de
                                puissance/couverture), bornes wifi managées, architecture hébergée. Parallèlement, tous
                                les équipements réseaux seront administrés à l’aide d’outil de supervision et de gestion
                                centralisée.
                            </p>

                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                        </div>
                        <div class="col-lg-12 col-md-12">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <div class="services-details-play">
                                    <img src="{{ asset('assets/images/3dtech-reseau-wifi.png') }}"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-45">
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <h4 class="title">Un accompagnement de bout en bout pour déployer votre réseau Wifi
                                    d’entreprise</h4>
                                <p>
                                    En fonction de vos contraintes d’organisation et de la surface à couvrir, nos
                                    experts en réseau auront pour mission d’intégrer la solution Wifi la plus adéquate
                                    pour vos utilisateurs. Aussi, nous oeuvrons pour renforcer la sécurité de votre
                                    réseau informatique, et ce, quelle que soit votre infrastructure existante.
                                <ul>
                                    <li>Étude de couverture réseau et simulation Wifi sur plan</li>
                                    <li>Fourniture, installation et configuration d’équipements réseaux (switch, bornes
                                        Wifi managées, câblage)
                                    </li>
                                    <li>Création et gestion de portail captif sécurisé et simple d’utilisation</li>
                                    <li>Sécurisation et administration de vos accès réseaux</li>
                                    <li>Supervision en temps réel et mises à jour de vos bornes Wifi à distance</li>
                                </ul>

                                </p>
                                <p>
                                    Pare feu, antivirus managé, filtrage web, politique de droits d’accès de vos
                                    fichiers partagés sont autant d’outils que nous mettons en place pour sécuriser
                                    votre infrastructure informatique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <h4 class="title">BOOSTEZ VOS ACCÈS INTERNET ET AUGMENTEZ VOTRE PRODUCTIVITÉ</h4>
                                <p>
                                    Votre débit internet ne suffit plus à répondre à votre flux de travail ? La
                                    mobilité, l’IoT, le Cloud et le télétravail vous contraint à améliorer la capacité
                                    de votre réseau ? Grâce à une connexion internet adaptée à vos besoins, vous
                                    bénéficiez d’une fluidité de travail, d’une sécurité de vos accès ainsi que d’une
                                    stabilité du réseau dans son ensemble.
                                </p>
                                <p>
                                    Découvrez nos solutions d’accès internet vous permettant de répondre aux nouvelles
                                    exigences de vos utilisateurs et de votre entreprise : Fibre optique, ADSL/VDSL,
                                    SDSL, accès VPN sécurisé.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}

    <!--====== SUBSCRIBE PART START ======-->
    {% include 'common/subcribe_part.html.twig' %}
    <!--====== SUBSCRIBE PART ENDS ======-->
{% endblock %}
