{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Messagerie professionnelle collaborative</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/idtechidf-mail-pro-exhange" alt="">
                            <span>messagerie pro</span>
                            <h3 class="title">MESSAGERIE PROFESSIONNELLE ET COLLABORATIVE</h3>
                            <p>
                                Gestion intégrale et sécurisation de votre messagerie d’entreprise
                                ARESCOM dans le cadre de son contrat de services administre, maintient et optimise
                                toutes vos solutions mails. Grâce à notre offre ARESMAIL, vous bénéficiez d’une solution
                                clé en main de messagerie professionnelle. Indispensable pour toute entreprise, le
                                système de messagerie professionnelle unifiée vous garantit une meilleure performance.

                                Notre solution vous permet de profitez pleinement des fonctionnalités qu’offrent une
                                messagerie professionnelle d’entreprise :

                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center mt-45">
                        <div class="col-lg-6 col-md-6">
                            <div class="services-details-play">
                                <img src="{{ asset('assets/images/idtechidf-mail-pro-exhange.jpg') }}"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="services-details-play-content">
                                <p>
                                    Partager vos agendas, contacts et fichiers collaboratifs.
                                    Utiliser votre propre nom de domaine (www.votre-société.fr)
                                    Protéger vos mails contre les spams et les virus.
                                    Synchroniser et accéder à vos mails en tous lieux.
                                    Archiver et sauvegarder vos mails.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-45">
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <h4 class="title">UNE MESSAGERIE UNIFIÉE, UN TRAVAIL COLLABORATIF !</h4>
                                <p>
                                    Grâce à une messagerie unifiée mise en place par nos soins, vous améliorez la
                                    mobilité de vos collaborateurs et vous gagnez en efficacité. Vos fichiers , agendas,
                                    mails, contacts, etc… sont désormais accessibles à distance sur tous vos terminaux.
                                </p>
                                <p>
                                    Pare feu, antivirus managé, filtrage web, politique de droits d’accès de vos
                                    fichiers partagés sont autant d’outils que nous mettons en place pour sécuriser
                                    votre infrastructure informatique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play">
                                <img src="{{ asset('assets/images/i3dtechidf-email-professionnel.png') }}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/service-details-thumb.jpg" alt="">
                            <h3 class="title">NOS PRESTATIONS POUR VOTRE MESSAGERIE PRO</h3>
                            <p>
                                L’ensemble de votre système de messagerie professionnelle est désormais administrée par nos équipes. Pour cela nous vous accompagnons dans la mise en place, la configuration, la sécurisation et la mise à jour de votre outil de mail :
                               <ul>
                                <li> Nous gérons vos boites mails et les configurons pour un service optimal.</li>
                                <li> Nous créons vos nouveaux utilisateurs.</li>
                                <li> Nous gérons vos fichier mail pour qu’ils soient toujours à votre disposition.</li>
                                <li> Nous opérons des migrations d’une solution mail à une autre.</li>
                            </ul></div>


                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}

    <!--====== BRAND PART ENDS ======-->

    <!--====== SUBSCRIBE PART START ======-->

    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-box">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="subscribe-info pl-65">
                                    <h3 class="title">Need Consultation?</h3>
                                    <ul>
                                        <li><a href="tel:+84935815989">Phone: +84 935 815 989</a></li>
                                        <li><a href="mailto:borexonline@mail.com">Email: borexonline@mail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="subscribe-info pl-50 pr-70">
                                    <h3 class="title">Need Consultation?</h3>
                                    <form action="#">
                                        <div class="input-box">
                                            <input type="email" placeholder="Email">
                                            <button type="button">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
