{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Matériel informatique professionnel</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('ask_of_quote') }}">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/idtechidf-mail-pro-exhange" alt="">
                            <span>Matériel informatique professionnel</span>
                            <h3 class="title">MATÉRIELS INFORMATIQUES POUR ENTREPRISE</h3>
                            <p>
                            <h6> Équipez-vous des matériels informatiques adaptés à votre infrastructure</h6>
                            Nous vous proposons une large gamme de matériels professionnels selon votre activité et la
                            taille de votre parc informatique : Ordinateurs de bureaux, PC portables, Switch et
                            connectique, Serveurs, Bornes wifi, Matériel de sauvegarde, Accessoires divers.
                            </p>
                            <p>
                                Vous avez un projet d’achat de matériel informatique. L’équipe commerciale 3DTECH vous
                                accompagne afin de vous aider à sélectionner les bonnes références et surtout vous faire
                                réaliser des économies importantes sur du matériel professionnel.
                            </p>
                            <p>
                                3DTECH, partenaire agrée des grandes marques d’équipements informatiques
                                Grâce à ces volumes d’achats 3DTECH est en mesure de faire des cotations directement
                                auprès des constructeurs ( DELL, HP…) afin d’obtenir les meilleurs tarifs.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}
    {% include 'common/subcribe_part.html.twig' %}
    <!--====== SUBSCRIBE PART ENDS ======-->
{% endblock %}
