{% extends 'account/base.html.twig' %}

{% block body %}
    Bienvenue dans votre espace perso ...

    <a href="{{ path('edit_profile') }}" class="btn">Edit Profile</a>
    <a href="{{ path('order_list') }}" class="btn">Orders</a>

    {% if order %}
        <p>Order</p>

        {% include 'front/order/summary.html.twig' with {order: order} only %}

        {% if order.type == constant('App\\Entity\\Order::TYPE_QUOTATION') %}
            <a href="{{ path('payment', {id: order.id}) }}">Pay for the order (to bill)</a>
        {% endif %}
    {% endif %}

{% endblock %}
