<section class="banner-area d-flex align-items-center bg_cover" style="background-image: url(assets/images/banner-bg.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="banner-content">
          <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".3s">Investment Planning</h1>
          <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".6s">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a class="main-btn wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".9s" href="#">Learn More <i class="flaticon-right-arrow"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
