
<section class="banner-area d-flex align-items-center bg_cover" style="background-image: url({{ asset('assets/images/banner-bg.jpg') }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="banner-content">
          <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".3s">Parck de maintenace informatique</h1>
          <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".6s">
            Tout inclus et illimité
          </p>
          <a class="main-btn wow slideInLeft" data-wow-duration="1.2s" data-wow-delay=".9s" href="{{ path('ask_of_quote') }}">
            Devis Gratuit <i class="flaticon-right-arrow"></i></a>
          <a class="main-btn wow slideInRight" data-wow-duration="1.2s" data-wow-delay=".9s" href="{{ path('maintenance_park') }}">
            <i class="flaticon-left-arrow"></i> Decouvrir </a>
        </div>
      </div>
    </div>
  </div>
</section>
