<ul class="list-unstyled list-inlineinline">
  <li class="list-inline-item pr-10"><i class="fa fa-list" aria-hidden="true"></i>
    <a class="pl-10" href="{{ path('quaotation_list') }}" >List des devis</a>
  </li>
  <li class="list-inline-item pr-10" ><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    <a class="pl-10"  href="{{ path('profile') }}">Profile</a>
  </li>
  <li class="list-inline-item pr-10" ><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    <a class="pl-10"  href="{{ path('edit_quotation', {'id': quotation.id}) }}">Editer</a>
  </li>
</ul>