<section class="portfolio-area pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title section-title-2 text-center">
          <span>Portfolio</span>
          <h3 class="title">Case Study </h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="0ms">
          <img src="assets/images/portfolio-1.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="300ms">
          <img src="assets/images/portfolio-2.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="600ms">
          <img src="assets/images/portfolio-3.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="0ms">
          <img src="assets/images/portfolio-4.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="300ms">
          <img src="assets/images/portfolio-5.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="portfolio-item mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="600ms">
          <img src="assets/images/portfolio-6.jpg" alt="portfolio">
          <div class="portfolio-content">
            <span>Business Strategy</span>
            <h4 class="title">Award-Winning Work</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
