<section class="services-area">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-9">
            <div class="services-content mt-95">
              <span>3DTECH</span>
              <h3 class="title">Nos services</h3>
              <p>
                LA PERFORMANCE DE VOTRE INFORMATIQUE D’ENTREPRISE AU COEUR DE NOTRE MISSION</p>
              <a class="main-btn" href="#">{{ 'app.learn_more'|trans }} <i class="flaticon-right-arrow"></i></a>
            </div>
          </div>

          {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Maintenance informatique des PME',
                    imageRef : 'assets/images/maintenance-informatique-3dtech.png',
                    link: 'computer_maintance'
                } %}
            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Infogérance de vos postes et services',
                    imageRef : 'assets/images/3dtech-maintenance-informatique-loupe.jpg',
                    link: 'computer_park_supervision'
                } %}
            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Supervision de votre parc informatique 24h/7',
                    imageRef : 'assets/images/services-3.png',
                    link: 'computer_park_supervision'
                } %}
            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Sécurité de votre réseau et de vos données',
                    imageRef : 'assets/images/services-4.png',
                    link: 'computer_park_supervision'
                } %}
            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Gestion intégrale de votre messagerie pro',
                    imageRef : 'assets/images/services-6.png',
                    link: 'computer_park_supervision'
                } %}
            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Optimisation de votre infrastructure it',
                    imageRef : 'assets/images/services-5.png',
                    link: 'computer_park_supervision'
                } %}

          {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Expertise d\'une entreprise certifiée',
                    imageRef : 'assets/images/services-7.png',
                    link: 'computer_park_supervision'
                } %}

            {% include 'common/common_portfolio.html.twig'  with
                {
                    title : 'Expertise d\'une entreprise certifiée',
                    imageRef : 'assets/images/3dtech-messagerie-pro.jpeg',
                    link: 'computer_park_supervision'
                } %}
        </div>
    </div>
</section>
