<section class="services-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="services-content mt-95">
          <span>3DTECH</span>
          <h3 class="title">Nos services</h3>
          <p>
            LA PERFORMANCE DE VOTRE INFORMATIQUE D’ENTREPRISE AU COEUR DE NOTRE MISSION</p>
            <p>Mettre en place, maintenir, gérer et optimiser votre infrastructure informatique afin que celle-ci soit 100% disponible pour le travail de vos collaborateurs au quotidien. </p>
          <a class="main-btn" href="#">View more <i class="flaticon-right-arrow"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="{{ asset('assets/images/services-1.png') }}" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-delivery"></i>
            <h6 class="title">MAINTENANCE </br>INFORMATIQUE </br>DES PME</h6>
            <a href="{{ path('it_management') }}">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-2.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-atm"></i>
            <h6 class="title">INFOGÉRANCE  DE VOS<br> POSTES  ET SERVEURS</h6>
            <a href="#">en savoir plus</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-3.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-protection"></i>
            <h5 class="title">SUPERVISION DE VOTRE <br>PARC INFORMATIQUE 24/7</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-4.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-plus"></i>
            <h5 class="title">SÉCURITÉ DE VOTRE <br>RÉSEAU ET DE VOS DONNÉES</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-5.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-dial-pad"></i>
            <h5 class="title">OPTIMISATION DE VOTRE <br>INFRASTRUCTURE IT</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-6.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-envelope"></i>
            <h5 class="title">GESTION INTÉGRALE DE<br> VOTRE MESSAGERIE PRO</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-7.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-graphs"></i>
            <h5 class="title">EXPERTISE D’UNE <br>ENTREPRISE CERTIFIÉE</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-8.png" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-star"></i>
            <h5 class="title">EXPERTISE D’UNE <br>ENTREPRISE CERTIFIÉE</h5>
            <a href="#">en savoir plus </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
