<div class="col-lg-4 col-md-7 order-lg-1 order-2">
  <div class="services-details-sedebar mt-30">
    <div class="services-items">
      <div class="services-items-title">
        <h4 class="title">NOS SOLUTIONS</h4>
      </div>
      <div class="services-items-list">
        <div class="item">
          <i class="flaticon-protection"></i>
          <a href="{{ path('it_net_work_security') }}"><h5 class="title">Sécurité informatique</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-email"></i>
          <a href="#"><h5 class="title">Messagerie professionnelle</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-location"></i>
          <a href="#"><h5 class="title">Equipements it</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-supplies"></i>
          <a href="#"><h5 class="title">Accès internet pro</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-pie-chart"></i>
          <a href="#"><h5 class="title">Cloud entreprise</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-email"></i>
          <a href="#"><h5 class="title">Réseau wifi entreprise</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-pie-chart"></i>
          <a href="#"><h5 class="title">Sauvegarde externalise</h5></a>
        </div>
        <div class="item">
          <i class="flaticon-pie-chart"></i>
          <a href="#"><h5 class="title">Logiciels bureautique</h5></a>
        </div>
      </div>
    </div>
    <div>
    </div>
    <div class="services-items mt-50">
      <div class="services-items-title">
        <h4 class="title">Search</h4>
      </div>
      <div class="services-search">
        <form action="#">
          <div class="input-box">
            <input type="text" placeholder="Search...">
            <button><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
