<section class="services-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="services-content mt-95">
          <span>What we do</span>
          <h3 class="title">Services for You</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
          <a class="main-btn" href="#">View more <i class="flaticon-right-arrow"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-1.jpg" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-money"></i>
            <h5 class="title">Marketing and <br> technology</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-2.jpg" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-atm"></i>
            <h5 class="title">Businem ss Policy and <br> Strategy</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-3.jpg" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-pie-chart"></i>
            <h5 class="title">Your business in the <br> cloud</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-4.jpg" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-supplies"></i>
            <h5 class="title">Major projects & contract <br> advisory</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="services-item mt-80">
          <div class="services-thumb">
            <img src="assets/images/services-5.jpg" alt="">
          </div>
          <div class="services-item-content">
            <i class="flaticon-graphs"></i>
            <h5 class="title">Future-ready finance <br> global survey</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
