<section class="sub-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-9">
        <div class="sub-thumb mt-30">
          <img src="assets/images/sub-thumb.jpg" alt="sub">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-9">
        <div class="sub-item white-bg mt-30">
          <h5 class="title">Budgeting <br> & Planning</h5>
          <i class="flaticon-balance"></i>
          <a href="#"><i class="flaticon-right-arrow-1"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-9">
        <div class="sub-item white-bg item-3 mt-30">
          <h5 class="title">Management <br> Reporting </h5>
          <i class="flaticon-money"></i>
          <a href="#"><i class="flaticon-right-arrow-1"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-9">
        <div class="sub-item white-bg item-4 mt-30">
          <h5 class="title">Modeling <br> & Forecasting  </h5>
          <i class="flaticon-graphic"></i>
          <a href="#"><i class="flaticon-right-arrow-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
