<div class="subscribe-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="subscribe-box">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="subscribe-info pl-65">
                <h3 class="title">Contact?</h3>
                <ul>
                  <li><a href="tel:+84935815989">Téléphone: 01 00 00 00 00</a></li>
                  <li><a href="mailto:borexonline@mail.com">Email: contac@3dtech.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="subscribe-info pl-50 pr-70">
                <h3 class="title">s'abonner aux new letters?</h3>
                <form action="#">
                  <div class="input-box">
                    <input type="email" placeholder="Email">
                    <button type="button">s'abonner</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
