{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}

{% block body %}
<div class="computer-maintenance">
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Maintenance informatique entreprise</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">
                                        Les services inclus dans votre pack maintenance informatique </a></li>
                                <li class="breadcrumb-item active" aria-current="page">en profiter</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="team-details pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="team-details-thumb">
                        <div class="thumb">
                            <img src="{{ asset('assets/images/maintenance-informatique-entreprise-pack-2.jpg') }}"
                                 alt="">
                        </div>
                        <div class="content text-center">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="team-details-content">
                        <h4 class="title">PACK MAINTENANCE INFORMATIQUE PME </h4>
                        <h6>Un pack tout inclus + services illimités pour vous assister au quotidien</h6>
                        <span> + services illimités</span>
                        <p>
                            Notre coeur de métier c’est la maintenance informatique et l’infogérance de votre
                            infrastructure : Maintenance préventive, support à distance, interventions sur site,
                            administration, rapports et suivis.
                        </p>
                        <p>
                            Les opérations de maintenance informatique viennent gérer tant les équipements réseaux,
                            les
                            postes, les serveurs, les systèmes d’exploitations et les divers applicatifs utiles à
                            votre
                            entreprise.
                        </p>
                        <p>
                            Plus que cela ARESCOM c’est aussi l’optimisation et la sécurisation de votre
                            infrastructure
                            avec une équipe d’ingénieurs dédiée à l’évolution de l’ensemble de votre SI.
                        </p>
                        <h6>Travaillez sereinement grâce à un système informatique disponible et à jour ! </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-3-area services-page">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-8">
                    <div class="section-title">
                        <span>Nos Services</span>
                        <h4>Les services inclus dans votre pack maintenance informatique </h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab"
                                   data-toggle="pill" href="#pills-home" role="tab"
                                   aria-controls="pills-home" aria-selected="true">
                                    Hotline assistance
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab"
                                   data-toggle="pill" href="#pills-profile" role="tab"
                                   aria-controls="pills-profile" aria-selected="false">
                                    Supervision 24h/24 7j/7
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab"
                                   data-toggle="pill" href="#pills-contact" role="tab"
                                   aria-controls="pills-contact"
                                   aria-selected="false">
                                    Intervention sur site
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-car-tab"
                                   data-toggle="pill" href="#pills-car" role="tab"
                                   aria-controls="pills-car" aria-selected="false">
                                    Securité et sauvegarde
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="services-3-box pt-50">
        <div class="container">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <div class="row justify-content-center">
                        {% include 'common/computer_maint_tab.html.twig' with
                            {
                                minTitle : 'Disponibilté',
                                imageRef: 'assets/images/3dtech-hotline-informatique-2.jpg',
                                title : 'Hotline et télémaintenance illimitée par nos techniciens de proximité',
                                description : 'Joignable et réactif, notre support technique est à votre disposition pour
                                tous incidents ou demandes de vos collaborateurs. Vous disposez d’une ligne directe pour
                                joindre un technicien de support à distance, d’un espace client en ligne (support.arescom.fr) pour créer et
                                suivre vos demandes ainsi qu’un email dédié. Vous êtes directement mis en contact avec notre équipe de techniciens hotline
                                ou recontacté en moins de 30 minutes en cas de pic d’activités.',
                            } %}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row justify-content-center">
                        {% include 'common/computer_maint_tab.html.twig' with
                            {
                                minTitle : 'Proactivité',
                                imageRef: 'assets/images/3dtech-supervision-serveur-informatique.jpg',
                                title : 'Supervision instantanée 24H/24, 7j/7 de votre parc informatique',
                                description : 'Nous assurons une prestation de haute qualité via une maintenance préventive et ce grâce à nos outils de supervision instantanée qui nous remontent des informations en temps réel sur l’état de votre parc informatique (postes, serveurs et périphériques).
Ainsi, nous sommes dans la mesure de vous garantir le bon fonctionnement de votre infrastructure, assurer la disponibilité de vos outils et la continuité de votre activité au quotidien.',
                            } %}
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row justify-content-center">
                        {% include 'common/computer_maint_tab.html.twig' with
                            {
                                minTitle : 'Proximité',
                                imageRef: 'assets/images/3dtech-depannage-informatique.jpg',
                                title : 'Déplacements et interventions sur site par nos techniciens et ingénieurs',
                                description : 'Joignable et réactif, notre support technique est à votre disposition pour
                                tous incidents ou demandes de vos collaborateurs. Vous disposez d’une ligne directe pour
                                joindre un technicien de support à distance, d’un espace client en ligne (support.arescom.fr) pour créer et suivre vos demandes ainsi qu’un email dédié.
Vous êtes directement mis en contact avec notre équipe de techniciens hotline ou recontacté en moins de 30 minutes en cas de pic d’activités.',
                            } %}                    </div>
                </div>
                <div class="tab-pane fade" id="pills-car" role="tabpanel" aria-labelledby="pills-car-tab">
                    <div class="row justify-content-center">
                        {% include 'common/computer_maint_tab.html.twig' with
                            {
                                imageRef: 'assets/images/3dtech-securite-informatique-2.jpg',
                                title : 'Gestion des sauvegardes et sécurité de votre réseau (antivirus, firewall, antispam)',
                                minTitle : 'Sécurité',
                                description : 'Dès le démarrage de notre prestation nos ingénieurs mettent en place une stratégie de sécurité et de sauvegarde afin de prévenir les risques potentiels.
Ainsi vos données sont protégées et peuvent être restaurées en cas de problème. Nous utilisons des antivirus managés directement depuis nos consoles de supervision et nous mettons en place une politique de sauvegarde efficace (disque dure externe, serveur de stockage, sauvegarde en data center) : Votre SI est dès lors inébranlable.',
                            } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/brand_section.html.twig' %}
    {% include 'common/subcribe_part.html.twig' %}

    {% endblock %}
