{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Logiciels pour entreprises</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <span>Logiciels pour entreprises</span>
                            <h3 class="title"></h3>
                            <p>
                                Mise en place et gestion intégrale de vos logiciels métiers
                                Utiliser les meilleurs outils bureautiques essentiels pour votre productivité et la
                                gestion de vos systèmes : Logiciels bureautiques et messageries, Licence serveur,
                                Antivirus, logiciels métiers.
                            </p>
                            <p>
                                Dans cette démarche 3DTECH vous assiste pour la mise en place de ses solutions. Grâce à
                                notre expertise nous accompagnons vos éditeurs dans la bonne mise en œuvre de leur
                                logiciel et nous nous plaçons comme le premier de leur interlocuteur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}

    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
