{% extends 'base.html.twig' %}

{% block body %}
  <h2>Liste des incidens</h2>

  <table>
  {% for incident in listIncident %}
    <tr>
      <td>{{ incident.id }} - </td>
      <td>{{ incident.description }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
