
/* ---- Home ---- */
.faq-form.ask-quote{
  .row{
    padding-top: 15px;
    padding-bottom: 15px;
    textarea {
      resize: none;
      height: 200px;
      overflow: auto;
    }
  }
}
button#ask_of_quote_submit, button#submit {
  width: 100%;
}