
/* ---- Home ---- */
.faq-form.ask-quote{
  .row{
    padding-top: 15px;
    padding-bottom: 15px;
    textarea {
      resize: none;
      height: 200px;
      overflow: auto;
    }
  }
}
button#ask_of_quote_submit, button#submit {
  width: 100%;
}
.discover-all{
  .services-thumb {
    overflow: hidden;
    z-index: 1;
    position: relative;
    width: 370px;
    height: 187px;
    overflow: hidden;
  }
}
.all-brand{
  .brand-item{
    width: 210px;
    height: 118px !important;
    overflow: hidden;
  }
}
.contact-items{
  ul{
    width: 370px;
    height: 90px;
  }
  .main-btn{
    border: 0.5px solid #b2b2b2;
  }
}