/* ---- Home ---- */
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3";

.faq-form.ask-quote {
  .row {
    padding-top: 15px;
    padding-bottom: 15px;

    textarea {
      resize: none;
      height: 200px;
      overflow: auto;
    }
  }
}

button#ask_of_quote_submit, button#submit {
  width: 100%;
}

.discover-all {
  .services-thumb {
    overflow: hidden;
    z-index: 1;
    position: relative;
    width: 370px;
    height: 187px;
    overflow: hidden;
  }
}

.all-brand {
  .brand-item {
    width: 210px;
    height: 118px !important;
    overflow: hidden;
  }
}

.contact-items {
  ul {
    width: 370px;
    height: 90px;
  }

  .main-btn {
    border: 0.5px solid #b2b2b2;
  }
}

.computer-maintenance {
  .services-3-area .section-title .nav li a {
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: 70px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 -15px;

  }
}

.home-page {
  .banner-area .banner-content .title {
    font-size: 90px;
    line-height: 80px;
  }

  .banner-area::before {
    background-color: rgba(9, 64, 116, 0.5);
  }

  .pt-115 {
    padding-top: 26px;
  }

  .blog-area .section-title {
    padding-bottom: 20px;
  }

  .pb-120 {
    padding-bottom: 30px;
  }

  .services-area {
    background: #f2f5f8;
    padding-top: 5px;
    padding-bottom: 45px;
  }

  .services-area .services-content p {
    padding-right: 50px;
    padding-bottom: 10px;
  }
}

.quotation-form {
  select {
    display: block;
  }
}
.faq-box-area .faq-form .input-box .money-type {
  width: 78%;
}
a.delete-link {
  float: right;
}
.nice-select.wide.form-control {
  margin-bottom: 15px;
}
.profile-home{
  img{
    width: 50%;
    max-width: 50%;
  }
}
.subscribe-area{
  .subscribe-box {
    .subscribe-info {
      h6.title{
        font-size: 20px;
      }
    }
  }
}
input.news-letter{
  height: 60px;

}
#quotation-form{
  ul, ol {
    width: 100% !important;
  }
}
.col-lg-3.quotationLine-field {
  float: left;
}