<footer class="footer-wrap">
    <div class="row">
        <div class="col col-4">
            <strong>Adresse :717 rue de la chapelle 78955 Carrières sous Poissy – FRANC</strong>
        </div>
        <div class="col col-4 text-center">
            <strong>SAS au capital 19 318 € </strong>
        </div>
        <div class="col col-4 text-right">
            <strong>09 54 53 24 08</strong>
        </div>
    </div>

    <div class="row">
        <div class="col col-10">
          <div class="footer-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="col col-2">
            <div class="footer-page">Page {PAGENO}</div>
        </div>
    </div>

</footer>
